.ipynb_checkpoints/
.DS_Store
.virtual_documents/
anaconda_projects/
__pycache__/

# Data files
*.vrt
*.tif
*.tif.aux.xml
*.nc
*.shp
*.shx
*.cpg
*.dbf
*.prj
*.qgz
*.gpkg

# specific files/directories
04_random_forest-Nina.ipynb
input-data/Global-AI_ET0__annual_v3_1/
input-data/archive/
input-data/nasa-firms-modis-fire-alerts/
