.ipynb_checkpoints/
.DS_Store
#input-data/fire-history-data/
#input-data/nasa-firms-modis-fire-alerts/
#input-data/ESA_IndonesiaCover
#input-data/indonesia-peatlands-gfw/

.virtual_documents/
anaconda_projects/
__pycache__/

#input-data/ne_10m_admin_0_countries/
#input-data/ne_110m_admin_0_countries/
#input-data/burned-area/
#input-data/modis-evi-test/
#output.nc.aux.xml
#output.nc
#input-data/land-cover/
#study_area.*
#output-data/
#input-data/EVI/

# Data files
*.vrt
*.tif
*.tif.aux.xml
*.nc
*.shp
*.shx
*.cpg
*.dbf
*.prj

input-data/ne_10m_admin_0_countries/
input-data/ne_110m_admin_0_countries/
input-data/nasa-firms-modis-fire-alerts/
drainage-channel-processing.qgz
output-data/study-area/
input-data/Global-AI_ET0__annual_v3_1/
