.ipynb_checkpoints/
input-data/indonesia-peatlands-gfw/
.DS_Store
input-data/fire-history-data/
input-data/nasa-firms-modis-fire-alerts/
input-data/ESA_IndonesiaCover
.virtual_documents/
anaconda_projects/
input-data/ne_10m_admin_0_countries/
input-data/ne_110m_admin_0_countries/
input-data/burned-area/
input-data/modis-evi-test/
output.nc.aux.xml
output.nc
input-data/land-cover/
study_area.*
output-data/
input-data/EVI/
*.vrt
